.container_title header{
    width: 22%;
    padding: 5px;
    margin: 10px;
}
.container_main{
    width: 95%;
    height: 560px;
    position: relative;
    margin: 10px;
    padding: 10px;

}

.sofa {
    top: 10px;
    left: 330px;
    width: 70vw;
    position: absolute;
}

.fabric {
    top: 10px;
    left: 330px;
    width: 70vw;
    position: absolute;
}

/* .title {
    top: 20px;
    left:40px;
    position: absolute;

} */

.select_sofa {
    position: absolute;
}
.fabric_rank {
    top: 50px;
    position: absolute;
}

.fabric_name {
    top: 95px;
    position: absolute;
}

.link_home {
    top: 520px;
    position: absolute;
}