.container_title header{
    width: 22%;
    margin: 10px;
    margin-left: 20px;
}
.container_main{
    width: 95%;
    height: 560px;
    position: relative;
    margin: 10px;
    padding: 10px;

}

.sofa {
    top: 10px;
    left: 350px;
    width: 70vw;
    position: absolute;
}

.fabric {
    top: 10px;
    left: 350px;
    width: 70vw;
    position: absolute;
}
.select_sofa {
    width: 245px;
    position: absolute;
}
.fabric_rank {
    top: 50px;
    position: absolute;
}

.fabric_name {
    top: 95px;
    position: absolute;
}

.link_home {
    top: 470px;
    position: absolute;
}